// vuepress
$accentColor = #337ab7
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// custom
$lightBlue = #f5f8fa
$gray = #fcfcfc

.sidebar
  background $lightBlue

.navbar
  background $gray

.search-box
  input
    background-color: $gray
